In [15]:
import pandas as pd
import re as re
import urllib.request
from bs4 import BeautifulSoup as bs

In [42]:
allQuoteData = []

baseUrl = "http://quotes.toscrape.com/"
curPage = baseUrl

while True:
    print('cur page' + curPage)
    curPageContent = urllib.request.urlopen(curPage).read()
    soup = bs(curPageContent)

    quoteBlocks = soup.find_all(class_="quote")

    for quoteBlock in quoteBlocks:
        quoteDict = {}

        # Add quote
        quote = quoteBlock.find(class_="text").text
        quoteDict['Quote'] = quote.replace('â€œ','"')

        # URL for the each author
        authorUrl = baseUrl + 'author/' + quoteBlock.find("a").get("href").split('/')[2]
        print("Retrieving ", authorUrl)

        # Read author page
        authorInfo = urllib.request.urlopen(authorUrl).read()
        authorSoup = bs(authorInfo)

        # Author name
        author = authorSoup.find(class_ = 'author-title').text
        quoteDict['Author'] = author

        # Author born date
        authorDob = authorSoup.find(class_ = 'author-born-date').text
        quoteDict['DOB'] = authorDob

        # Author place
        authorPlace = authorSoup.find(class_ = 'author-born-location').text
        quoteDict['Born location'] = authorPlace.replace('in ','')

        # Author bio
        authorDesc = authorSoup.find(class_ = 'author-description').text
        quoteDict['Author description'] = authorDesc.strip()

        allQuoteData.append(quoteDict)

    break
    # if soup.find(class_="next") is None:
    #     break
    
    # nextPage = soup.find(class_='next').find('a').get('href')
    # print('page:' + nextPage)
    # curPage = baseUrl + nextPage

cur pagehttp://quotes.toscrape.com/
Retrieving  http://quotes.toscrape.com/author/Albert-Einstein
Retrieving  http://quotes.toscrape.com/author/J-K-Rowling
Retrieving  http://quotes.toscrape.com/author/Albert-Einstein
Retrieving  http://quotes.toscrape.com/author/Jane-Austen
Retrieving  http://quotes.toscrape.com/author/Marilyn-Monroe
Retrieving  http://quotes.toscrape.com/author/Albert-Einstein
Retrieving  http://quotes.toscrape.com/author/Andre-Gide
Retrieving  http://quotes.toscrape.com/author/Thomas-A-Edison
Retrieving  http://quotes.toscrape.com/author/Eleanor-Roosevelt
Retrieving  http://quotes.toscrape.com/author/Steve-Martin

In [43]:

headers = allQuoteData[0].keys()
quoteDf = pd.DataFrame(allQuoteData, columns=headers)

quoteDf.shape

quoteDf.head()

# allQuoteData

,Quote,Author,DOB,Born location,Author description
0,"""The world as we have created it is a process ...",Albert Einstein,"March 14, 1879","Ulm, Germany","In 1879, Albert Einstein was born in Ulm, Germ..."
1,"""It is our choices, Harry, that show what we t...",J.K. Rowling,"July 31, 1965","Yate, South Gloucestershire, England, The Unit...",See also: Robert GalbraithAlthough she writes ...
2,"""There are only two ways to live your life. On...",Albert Einstein,"March 14, 1879","Ulm, Germany","In 1879, Albert Einstein was born in Ulm, Germ..."
3,"""The person, be it gentleman or lady, who has ...",Jane Austen,"December 16, 1775","Steventon Rectory, Hampshire, The United Kingdom",Jane Austen was an English novelist whose work...
4,"""Imperfection is beauty, madness is genius and...",Marilyn Monroe,"June 01, 1926",The United States,Marilyn Monroe (born Norma Jeane Mortenson; Ju...

In [44]:

quoteDf.to_csv("../data/raw/Quotes.csv")
quoteDf.to_excel("../data/raw/Quotes.xlsx")

print('Successfully converted data to CSV, xlsx')

Successfully converted data to CSV, xlsx